.tab-list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    border-radius: 1em 1em 0 0;
    background-color: var(--accent);
    flex-wrap: wrap;
    overflow: hidden;
}

.tab-list.stacked {
    flex-direction: row-reverse;
    background-color: var(--background);
}



.tab-list li {
    flex-grow: 1;
    display: block;
}

.tab-list.stacked li {
    flex-grow: 0;
    background-color: var(--accent);
}

.tab-list a {
    color: var(--primary-text);
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 0.75em 0.5em;
}

.tab-list a:hover {
    background-color: var(--accent-light);
}

.tab-list i {
    color: var(--primary-text);
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-right: 0.25em;
}

.tab-active a {
    background-color: var(--background);
}

.tab-content {
    background-color: var(--background);
    padding: 1em;
    border-radius: 0 0 1em 1em;
}